<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true">
<!--    <include resource="org/springframework/boot/logging/logback/base.xml"/>-->

    <springProperty scope="context" name="logLevel" source="logging.level.root" defaultValue="INFO"/>

    <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
        <resetJUL>true</resetJUL>
    </contextListener>

    <jmxConfigurator/>

    <property name="console.format"
              value="[%-20(%cyan(%date{HH:mm:ss.SSS})] [%thread] [traceId=%X{traceId}]) %highlight(%-5level) %magenta(%marker|%logger{36}): %msg%n%rEx"/>

    <property name="console.format.prod"
              value="[%-20(%cyan(%date{yyyy.MM.dd HH:mm:ss.SSS})] [%thread] [traceId=%X{traceId}]) %highlight(%-5level) %magenta(%marker|%logger{36}): %msg%n%rEx"/>



    <!-- console -->
    <appender name="CONSOLE_DEFAULT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${console.format}</pattern>
        </encoder>
    </appender>

    <appender name="CONSOLE_PROD" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${console.format.prod}</pattern>
        </encoder>
    </appender>


    <springProfile name="default, dev">
        <root level="${logLevel}">
            <appender-ref ref="CONSOLE_DEFAULT"/>
        </root>
    </springProfile>

    <springProfile name="prod">
        <root level="${logLevel}">
            <appender-ref ref="CONSOLE_PROD"/>
        </root>
    </springProfile>
</configuration>